In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy import stats
from scipy.stats import *
import sqlite3

# next command ensures that plots appear inside the notebook
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns  # also improves the look of plots
sns.set()
plt.rcParams['figure.figsize'] = 10, 5  # default hor./vert. size of plots, in inches
plt.rcParams['lines.markeredgewidth'] = 1  # to fix issue with seaborn box plots; needed after import seaborn

In [2]:
df=pd.read_csv(r'C:\Users\Gebruiker\Documents\Aditya Raghunath\TU EINDHOVEN\Year 4\Process mining\dataset\postpreprocessing.csv')

In [3]:
df

,Unnamed: 0,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,total_time
0,0,173688,A_SUBMITTED,2011-10-01 00:38:44.546,2011-10-01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00
1,1,173688,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880,2011-10-01 00:38:44.880,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00
2,2,173688,A_PREACCEPTED,2011-10-01 00:39:37.906,2011-10-01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00
3,4,173688,W_Completeren aanvraag,2011-10-01 11:36:46.437,2011-10-01 11:45:13.917,20000,2011/10/01 00:38:44.546,112,0 days 00:08:27.480000
4,5,173688,A_ACCEPTED,2011-10-01 11:42:43.308,2011-10-01 11:42:43.308,20000,2011/10/01 00:38:44.546,10862,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...
164504,190821,214373,W_Nabellen offertes,2012-03-10 12:46:22.700,2012-03-10 12:50:54.881,8500,2012/02/29 23:43:09.766,11119,0 days 00:04:32.181000
164505,190822,214376,A_SUBMITTED,2012-02-29 23:51:16.799,2012-02-29 23:51:16.799,15000,2012/02/29 23:51:16.799,112,0 days 00:00:00
164506,190823,214376,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423,2012-02-29 23:51:17.423,15000,2012/02/29 23:51:16.799,112,0 days 00:00:00
164507,190825,214376,W_Afhandelen leads,2012-03-01 09:26:46.736,2012-03-01 09:27:41.325,15000,2012/02/29 23:51:16.799,11169,0 days 00:00:54.589000
164508,190826,214376,A_DECLINED,2012-03-01 09:27:37.118,2012-03-01 09:27:37.118,15000,2012/02/29 23:51:16.799,11169,0 days 00:00:00

In [4]:
df=pd.read_csv(r'C:\Users\Gebruiker\Documents\Aditya Raghunath\TU EINDHOVEN\Year 4\Process mining\dataset\postpreprocessing1.csv')

In [5]:
df

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,total_time
0,173688,A_SUBMITTED,2011-10-01 00:38:44.546,2011-10-01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00
1,173688,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880,2011-10-01 00:38:44.880,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00
2,173688,A_PREACCEPTED,2011-10-01 00:39:37.906,2011-10-01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00
3,173688,W_Completeren aanvraag,2011-10-01 11:36:46.437,2011-10-01 11:45:13.917,20000,2011/10/01 00:38:44.546,112,0 days 00:08:27.480000
4,173688,A_ACCEPTED,2011-10-01 11:42:43.308,2011-10-01 11:42:43.308,20000,2011/10/01 00:38:44.546,10862,0 days 00:00:00
...,...,...,...,...,...,...,...,...
164504,214373,W_Nabellen offertes,2012-03-10 12:46:22.700,2012-03-10 12:50:54.881,8500,2012/02/29 23:43:09.766,11119,0 days 00:04:32.181000
164505,214376,A_SUBMITTED,2012-02-29 23:51:16.799,2012-02-29 23:51:16.799,15000,2012/02/29 23:51:16.799,112,0 days 00:00:00
164506,214376,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423,2012-02-29 23:51:17.423,15000,2012/02/29 23:51:16.799,112,0 days 00:00:00
164507,214376,W_Afhandelen leads,2012-03-01 09:26:46.736,2012-03-01 09:27:41.325,15000,2012/02/29 23:51:16.799,11169,0 days 00:00:54.589000
164508,214376,A_DECLINED,2012-03-01 09:27:37.118,2012-03-01 09:27:37.118,15000,2012/02/29 23:51:16.799,11169,0 days 00:00:00

In [6]:
df_copy=df.copy()

In [7]:
df_copy

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,total_time
0,173688,A_SUBMITTED,2011-10-01 00:38:44.546,2011-10-01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00
1,173688,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880,2011-10-01 00:38:44.880,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00
2,173688,A_PREACCEPTED,2011-10-01 00:39:37.906,2011-10-01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00
3,173688,W_Completeren aanvraag,2011-10-01 11:36:46.437,2011-10-01 11:45:13.917,20000,2011/10/01 00:38:44.546,112,0 days 00:08:27.480000
4,173688,A_ACCEPTED,2011-10-01 11:42:43.308,2011-10-01 11:42:43.308,20000,2011/10/01 00:38:44.546,10862,0 days 00:00:00
...,...,...,...,...,...,...,...,...
164504,214373,W_Nabellen offertes,2012-03-10 12:46:22.700,2012-03-10 12:50:54.881,8500,2012/02/29 23:43:09.766,11119,0 days 00:04:32.181000
164505,214376,A_SUBMITTED,2012-02-29 23:51:16.799,2012-02-29 23:51:16.799,15000,2012/02/29 23:51:16.799,112,0 days 00:00:00
164506,214376,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423,2012-02-29 23:51:17.423,15000,2012/02/29 23:51:16.799,112,0 days 00:00:00
164507,214376,W_Afhandelen leads,2012-03-01 09:26:46.736,2012-03-01 09:27:41.325,15000,2012/02/29 23:51:16.799,11169,0 days 00:00:54.589000
164508,214376,A_DECLINED,2012-03-01 09:27:37.118,2012-03-01 09:27:37.118,15000,2012/02/29 23:51:16.799,11169,0 days 00:00:00

In [8]:
df_copy["time diff"]=400

In [9]:
for i in range (1, 164508):
    if df_copy.iloc[i][0]!=df_copy.iloc[i+1][0]:
        df_copy.iloc[i][8]=0;
df_copy

<ipython-input-9-912bfc38b644>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy.iloc[i][8]=0;

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,total_time,time diff
0,173688,A_SUBMITTED,2011-10-01 00:38:44.546,2011-10-01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00,400
1,173688,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880,2011-10-01 00:38:44.880,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00,400
2,173688,A_PREACCEPTED,2011-10-01 00:39:37.906,2011-10-01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00,400
3,173688,W_Completeren aanvraag,2011-10-01 11:36:46.437,2011-10-01 11:45:13.917,20000,2011/10/01 00:38:44.546,112,0 days 00:08:27.480000,400
4,173688,A_ACCEPTED,2011-10-01 11:42:43.308,2011-10-01 11:42:43.308,20000,2011/10/01 00:38:44.546,10862,0 days 00:00:00,400
...,...,...,...,...,...,...,...,...,...
164504,214373,W_Nabellen offertes,2012-03-10 12:46:22.700,2012-03-10 12:50:54.881,8500,2012/02/29 23:43:09.766,11119,0 days 00:04:32.181000,400
164505,214376,A_SUBMITTED,2012-02-29 23:51:16.799,2012-02-29 23:51:16.799,15000,2012/02/29 23:51:16.799,112,0 days 00:00:00,400
164506,214376,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423,2012-02-29 23:51:17.423,15000,2012/02/29 23:51:16.799,112,0 days 00:00:00,400
164507,214376,W_Afhandelen leads,2012-03-01 09:26:46.736,2012-03-01 09:27:41.325,15000,2012/02/29 23:51:16.799,11169,0 days 00:00:54.589000,400
164508,214376,A_DECLINED,2012-03-01 09:27:37.118,2012-03-01 09:27:37.118,15000,2012/02/29 23:51:16.799,11169,0 days 00:00:00,400

In [10]:
df_copy.head(30)

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,total_time,time diff
0,173688,A_SUBMITTED,2011-10-01 00:38:44.546,2011-10-01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00,400
1,173688,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880,2011-10-01 00:38:44.880,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00,400
2,173688,A_PREACCEPTED,2011-10-01 00:39:37.906,2011-10-01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00,400
3,173688,W_Completeren aanvraag,2011-10-01 11:36:46.437,2011-10-01 11:45:13.917,20000,2011/10/01 00:38:44.546,112,0 days 00:08:27.480000,400
4,173688,A_ACCEPTED,2011-10-01 11:42:43.308,2011-10-01 11:42:43.308,20000,2011/10/01 00:38:44.546,10862,0 days 00:00:00,400
5,173688,O_SELECTED,2011-10-01 11:45:09.243,2011-10-01 11:45:09.243,20000,2011/10/01 00:38:44.546,10862,0 days 00:00:00,400
6,173688,A_FINALIZED,2011-10-01 11:45:09.243,2011-10-01 11:45:09.243,20000,2011/10/01 00:38:44.546,10862,0 days 00:00:00,400
7,173688,O_CREATED,2011-10-01 11:45:11.197,2011-10-01 11:45:11.197,20000,2011/10/01 00:38:44.546,10862,0 days 00:00:00,400
8,173688,O_SENT,2011-10-01 11:45:11.380,2011-10-01 11:45:11.380,20000,2011/10/01 00:38:44.546,10862,0 days 00:00:00,400
9,173688,W_Nabellen offertes,2011-10-01 12:15:41.290,2011-10-01 12:17:08.924,20000,2011/10/01 00:38:44.546,10862,0 days 00:01:27.634000,400
10,173688,W_Nabellen offertes,2011-10-08 16:26:57.720,2011-10-08 16:32:00.886,20000,2011/10/01 00:38:44.546,10913,0 days 00:05:03.166000,400
11,173688,W_Nabellen offertes,2011-10-10 11:32:22.495,2011-10-10 11:33:05.791,20000,2011/10/01 00:38:44.546,11049,0 days 00:00:43.296000,400
12,173688,O_SENT_BACK,2011-10-10 11:33:03.668,2011-10-10 11:33:03.668,20000,2011/10/01 00:38:44.546,11049,0 days 00:00:00,400
13,173688,W_Valideren aanvraag,2011-10-13 10:05:26.925,2011-10-13 10:37:37.026,20000,2011/10/01 00:38:44.546,10629,0 days 00:32:10.101000,400
14,173688,A_REGISTERED,2011-10-13 10:37:29.226,2011-10-13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,0 days 00:00:00,400
15,173688,A_APPROVED,2011-10-13 10:37:29.226,2011-10-13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,0 days 00:00:00,400
16,173688,O_ACCEPTED,2011-10-13 10:37:29.226,2011-10-13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,0 days 00:00:00,400
17,173688,A_ACTIVATED,2011-10-13 10:37:29.226,2011-10-13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,0 days 00:00:00,400
18,173691,A_SUBMITTED,2011-10-01 08:08:58.256,2011-10-01 08:08:58.256,5000,2011/10/01 08:08:58.256,112,0 days 00:00:00,400
19,173691,A_PARTLYSUBMITTED,2011-10-01 08:09:02.195,2011-10-01 08:09:02.195,5000,2011/10/01 08:08:58.256,112,0 days 00:00:00,400
20,173691,A_PREACCEPTED,2011-10-01 08:09:56.648,2011-10-01 08:09:56.648,5000,2011/10/01 08:08:58.256,112,0 days 00:00:00,400
21,173691,W_Completeren aanvraag,2011-10-01 11:37:32.393,2011-10-01 11:43:13.178,5000,2011/10/01 08:08:58.256,112,0 days 00:05:40.785000,400
22,173691,W_Completeren aanvraag,2011-10-01 14:27:57.775,2011-10-01 14:35:48.791,5000,2011/10/01 08:08:58.256,112,0 days 00:07:51.016000,400
23,173691,A_ACCEPTED,2011-10-01 14:33:54.614,2011-10-01 14:33:54.614,5000,2011/10/01 08:08:58.256,10862,0 days 00:00:00,400
24,173691,A_FINALIZED,2011-10-01 14:35:46.016,2011-10-01 14:35:46.016,5000,2011/10/01 08:08:58.256,10862,0 days 00:00:00,400
25,173691,O_SELECTED,2011-10-01 14:35:46.016,2011-10-01 14:35:46.016,5000,2011/10/01 08:08:58.256,10862,0 days 00:00:00,400
26,173691,O_CREATED,2011-10-01 14:35:47.488,2011-10-01 14:35:47.488,5000,2011/10/01 08:08:58.256,10862,0 days 00:00:00,400
27,173691,O_SENT,2011-10-01 14:35:47.583,2011-10-01 14:35:47.583,5000,2011/10/01 08:08:58.256,10862,0 days 00:00:00,400
28,173691,W_Nabellen offertes,2011-10-01 14:36:13.443,2011-10-01 14:36:25.794,5000,2011/10/01 08:08:58.256,10862,0 days 00:00:12.351000,400
29,173691,W_Nabellen offertes,2011-10-03 16:54:43.257,2011-10-03 16:56:21.195,5000,2011/10/01 08:08:58.256,10862,0 days 00:01:37.938000,400

In [11]:
for i in range (1, 164508):
    if df_copy.iloc[i][0]!=df_copy.iloc[i+1][0]:
        df_copy.iat[i,8]=0;
df_copy

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,total_time,time diff
0,173688,A_SUBMITTED,2011-10-01 00:38:44.546,2011-10-01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00,400
1,173688,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880,2011-10-01 00:38:44.880,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00,400
2,173688,A_PREACCEPTED,2011-10-01 00:39:37.906,2011-10-01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00,400
3,173688,W_Completeren aanvraag,2011-10-01 11:36:46.437,2011-10-01 11:45:13.917,20000,2011/10/01 00:38:44.546,112,0 days 00:08:27.480000,400
4,173688,A_ACCEPTED,2011-10-01 11:42:43.308,2011-10-01 11:42:43.308,20000,2011/10/01 00:38:44.546,10862,0 days 00:00:00,400
...,...,...,...,...,...,...,...,...,...
164504,214373,W_Nabellen offertes,2012-03-10 12:46:22.700,2012-03-10 12:50:54.881,8500,2012/02/29 23:43:09.766,11119,0 days 00:04:32.181000,0
164505,214376,A_SUBMITTED,2012-02-29 23:51:16.799,2012-02-29 23:51:16.799,15000,2012/02/29 23:51:16.799,112,0 days 00:00:00,400
164506,214376,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423,2012-02-29 23:51:17.423,15000,2012/02/29 23:51:16.799,112,0 days 00:00:00,400
164507,214376,W_Afhandelen leads,2012-03-01 09:26:46.736,2012-03-01 09:27:41.325,15000,2012/02/29 23:51:16.799,11169,0 days 00:00:54.589000,400
164508,214376,A_DECLINED,2012-03-01 09:27:37.118,2012-03-01 09:27:37.118,15000,2012/02/29 23:51:16.799,11169,0 days 00:00:00,400

In [12]:
df_copy.head(30)

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,total_time,time diff
0,173688,A_SUBMITTED,2011-10-01 00:38:44.546,2011-10-01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00,400
1,173688,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880,2011-10-01 00:38:44.880,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00,400
2,173688,A_PREACCEPTED,2011-10-01 00:39:37.906,2011-10-01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00,400
3,173688,W_Completeren aanvraag,2011-10-01 11:36:46.437,2011-10-01 11:45:13.917,20000,2011/10/01 00:38:44.546,112,0 days 00:08:27.480000,400
4,173688,A_ACCEPTED,2011-10-01 11:42:43.308,2011-10-01 11:42:43.308,20000,2011/10/01 00:38:44.546,10862,0 days 00:00:00,400
5,173688,O_SELECTED,2011-10-01 11:45:09.243,2011-10-01 11:45:09.243,20000,2011/10/01 00:38:44.546,10862,0 days 00:00:00,400
6,173688,A_FINALIZED,2011-10-01 11:45:09.243,2011-10-01 11:45:09.243,20000,2011/10/01 00:38:44.546,10862,0 days 00:00:00,400
7,173688,O_CREATED,2011-10-01 11:45:11.197,2011-10-01 11:45:11.197,20000,2011/10/01 00:38:44.546,10862,0 days 00:00:00,400
8,173688,O_SENT,2011-10-01 11:45:11.380,2011-10-01 11:45:11.380,20000,2011/10/01 00:38:44.546,10862,0 days 00:00:00,400
9,173688,W_Nabellen offertes,2011-10-01 12:15:41.290,2011-10-01 12:17:08.924,20000,2011/10/01 00:38:44.546,10862,0 days 00:01:27.634000,400
10,173688,W_Nabellen offertes,2011-10-08 16:26:57.720,2011-10-08 16:32:00.886,20000,2011/10/01 00:38:44.546,10913,0 days 00:05:03.166000,400
11,173688,W_Nabellen offertes,2011-10-10 11:32:22.495,2011-10-10 11:33:05.791,20000,2011/10/01 00:38:44.546,11049,0 days 00:00:43.296000,400
12,173688,O_SENT_BACK,2011-10-10 11:33:03.668,2011-10-10 11:33:03.668,20000,2011/10/01 00:38:44.546,11049,0 days 00:00:00,400
13,173688,W_Valideren aanvraag,2011-10-13 10:05:26.925,2011-10-13 10:37:37.026,20000,2011/10/01 00:38:44.546,10629,0 days 00:32:10.101000,400
14,173688,A_REGISTERED,2011-10-13 10:37:29.226,2011-10-13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,0 days 00:00:00,400
15,173688,A_APPROVED,2011-10-13 10:37:29.226,2011-10-13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,0 days 00:00:00,400
16,173688,O_ACCEPTED,2011-10-13 10:37:29.226,2011-10-13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,0 days 00:00:00,400
17,173688,A_ACTIVATED,2011-10-13 10:37:29.226,2011-10-13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,0 days 00:00:00,0
18,173691,A_SUBMITTED,2011-10-01 08:08:58.256,2011-10-01 08:08:58.256,5000,2011/10/01 08:08:58.256,112,0 days 00:00:00,400
19,173691,A_PARTLYSUBMITTED,2011-10-01 08:09:02.195,2011-10-01 08:09:02.195,5000,2011/10/01 08:08:58.256,112,0 days 00:00:00,400
20,173691,A_PREACCEPTED,2011-10-01 08:09:56.648,2011-10-01 08:09:56.648,5000,2011/10/01 08:08:58.256,112,0 days 00:00:00,400
21,173691,W_Completeren aanvraag,2011-10-01 11:37:32.393,2011-10-01 11:43:13.178,5000,2011/10/01 08:08:58.256,112,0 days 00:05:40.785000,400
22,173691,W_Completeren aanvraag,2011-10-01 14:27:57.775,2011-10-01 14:35:48.791,5000,2011/10/01 08:08:58.256,112,0 days 00:07:51.016000,400
23,173691,A_ACCEPTED,2011-10-01 14:33:54.614,2011-10-01 14:33:54.614,5000,2011/10/01 08:08:58.256,10862,0 days 00:00:00,400
24,173691,A_FINALIZED,2011-10-01 14:35:46.016,2011-10-01 14:35:46.016,5000,2011/10/01 08:08:58.256,10862,0 days 00:00:00,400
25,173691,O_SELECTED,2011-10-01 14:35:46.016,2011-10-01 14:35:46.016,5000,2011/10/01 08:08:58.256,10862,0 days 00:00:00,400
26,173691,O_CREATED,2011-10-01 14:35:47.488,2011-10-01 14:35:47.488,5000,2011/10/01 08:08:58.256,10862,0 days 00:00:00,400
27,173691,O_SENT,2011-10-01 14:35:47.583,2011-10-01 14:35:47.583,5000,2011/10/01 08:08:58.256,10862,0 days 00:00:00,400
28,173691,W_Nabellen offertes,2011-10-01 14:36:13.443,2011-10-01 14:36:25.794,5000,2011/10/01 08:08:58.256,10862,0 days 00:00:12.351000,400
29,173691,W_Nabellen offertes,2011-10-03 16:54:43.257,2011-10-03 16:56:21.195,5000,2011/10/01 08:08:58.256,10862,0 days 00:01:37.938000,400

In [13]:
list_of_events=df_copy["event"].unique()

In [14]:
list_of_events

array(['A_SUBMITTED', 'A_PARTLYSUBMITTED', 'A_PREACCEPTED',
       'W_Completeren aanvraag', 'A_ACCEPTED', 'O_SELECTED',
       'A_FINALIZED', 'O_CREATED', 'O_SENT', 'W_Nabellen offertes',
       'O_SENT_BACK', 'W_Valideren aanvraag', 'A_REGISTERED',
       'A_APPROVED', 'O_ACCEPTED', 'A_ACTIVATED', 'O_CANCELLED',
       'A_DECLINED', 'A_CANCELLED', 'W_Afhandelen leads', 'O_DECLINED',
       'W_Nabellen incomplete dossiers', 'W_Beoordelen fraude'],
      dtype=object)

In [15]:
list_of_events[5]

'O_SELECTED'

In [16]:
len(list_of_events)

23

In [17]:
if df_copy.iloc[5,1]==list_of_events[5]:
    print ("true")
else:
    print ("false" )

true

In [18]:
df_copy.iloc[5,1]

'O_SELECTED'

# List of unique events

In [19]:
for i in list_of_events:
    print (i);

A_SUBMITTED
A_PARTLYSUBMITTED
A_PREACCEPTED
W_Completeren aanvraag
A_ACCEPTED
O_SELECTED
A_FINALIZED
O_CREATED
O_SENT
W_Nabellen offertes
O_SENT_BACK
W_Valideren aanvraag
A_REGISTERED
A_APPROVED
O_ACCEPTED
A_ACTIVATED
O_CANCELLED
A_DECLINED
A_CANCELLED
W_Afhandelen leads
O_DECLINED
W_Nabellen incomplete dossiers
W_Beoordelen fraude

In [20]:
df_copy["time_till_next"]=df_copy["total_time"]

In [21]:
df_copy

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,total_time,time diff,time_till_next
0,173688,A_SUBMITTED,2011-10-01 00:38:44.546,2011-10-01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00,400,0 days 00:00:00
1,173688,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880,2011-10-01 00:38:44.880,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00,400,0 days 00:00:00
2,173688,A_PREACCEPTED,2011-10-01 00:39:37.906,2011-10-01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00,400,0 days 00:00:00
3,173688,W_Completeren aanvraag,2011-10-01 11:36:46.437,2011-10-01 11:45:13.917,20000,2011/10/01 00:38:44.546,112,0 days 00:08:27.480000,400,0 days 00:08:27.480000
4,173688,A_ACCEPTED,2011-10-01 11:42:43.308,2011-10-01 11:42:43.308,20000,2011/10/01 00:38:44.546,10862,0 days 00:00:00,400,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...,...
164504,214373,W_Nabellen offertes,2012-03-10 12:46:22.700,2012-03-10 12:50:54.881,8500,2012/02/29 23:43:09.766,11119,0 days 00:04:32.181000,0,0 days 00:04:32.181000
164505,214376,A_SUBMITTED,2012-02-29 23:51:16.799,2012-02-29 23:51:16.799,15000,2012/02/29 23:51:16.799,112,0 days 00:00:00,400,0 days 00:00:00
164506,214376,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423,2012-02-29 23:51:17.423,15000,2012/02/29 23:51:16.799,112,0 days 00:00:00,400,0 days 00:00:00
164507,214376,W_Afhandelen leads,2012-03-01 09:26:46.736,2012-03-01 09:27:41.325,15000,2012/02/29 23:51:16.799,11169,0 days 00:00:54.589000,400,0 days 00:00:54.589000
164508,214376,A_DECLINED,2012-03-01 09:27:37.118,2012-03-01 09:27:37.118,15000,2012/02/29 23:51:16.799,11169,0 days 00:00:00,400,0 days 00:00:00

In [22]:
df_copy["startTime"] = pd.to_datetime(df_copy["startTime"])

In [23]:
df_copy["completeTime"]= pd.to_datetime(df_copy["completeTime"])

In [24]:
df_copy

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,total_time,time diff,time_till_next
0,173688,A_SUBMITTED,2011-10-01 00:38:44.546,2011-10-01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00,400,0 days 00:00:00
1,173688,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880,2011-10-01 00:38:44.880,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00,400,0 days 00:00:00
2,173688,A_PREACCEPTED,2011-10-01 00:39:37.906,2011-10-01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,0 days 00:00:00,400,0 days 00:00:00
3,173688,W_Completeren aanvraag,2011-10-01 11:36:46.437,2011-10-01 11:45:13.917,20000,2011/10/01 00:38:44.546,112,0 days 00:08:27.480000,400,0 days 00:08:27.480000
4,173688,A_ACCEPTED,2011-10-01 11:42:43.308,2011-10-01 11:42:43.308,20000,2011/10/01 00:38:44.546,10862,0 days 00:00:00,400,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...,...
164504,214373,W_Nabellen offertes,2012-03-10 12:46:22.700,2012-03-10 12:50:54.881,8500,2012/02/29 23:43:09.766,11119,0 days 00:04:32.181000,0,0 days 00:04:32.181000
164505,214376,A_SUBMITTED,2012-02-29 23:51:16.799,2012-02-29 23:51:16.799,15000,2012/02/29 23:51:16.799,112,0 days 00:00:00,400,0 days 00:00:00
164506,214376,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423,2012-02-29 23:51:17.423,15000,2012/02/29 23:51:16.799,112,0 days 00:00:00,400,0 days 00:00:00
164507,214376,W_Afhandelen leads,2012-03-01 09:26:46.736,2012-03-01 09:27:41.325,15000,2012/02/29 23:51:16.799,11169,0 days 00:00:54.589000,400,0 days 00:00:54.589000
164508,214376,A_DECLINED,2012-03-01 09:27:37.118,2012-03-01 09:27:37.118,15000,2012/02/29 23:51:16.799,11169,0 days 00:00:00,400,0 days 00:00:00

In [25]:
df_copy.iloc[2][2]-df_copy.iloc[1][3]

Timedelta('0 days 00:00:53.026000')

# Time till next event for every event. Naive predictor

In [27]:

c=0

a=df_copy.iloc[1,7]
for j in list_of_events:
    for i in range (1,164508):
        if df_copy.iloc[i,1]==j: 
            a=a+(df_copy.iloc[i+1]["startTime"]-df_copy.iloc[i]["startTime"])
            c=c+1
    print(j,a/c)

A_SUBMITTED 0 days 00:00:00.581691655
A_PARTLYSUBMITTED 0 days 01:01:20.356231880
A_PREACCEPTED 0 days 02:04:54.228496869
W_Completeren aanvraag 0 days 08:40:17.229487175
A_ACCEPTED 0 days 08:00:42.411919642
O_SELECTED 0 days 07:12:11.466512821
A_FINALIZED 0 days 06:43:09.900357195
O_CREATED 0 days 06:08:28.321527951
O_SENT 0 days 10:40:10.900425471
W_Nabellen offertes 0 days 18:40:50.682267246
O_SENT_BACK 0 days 19:40:24.803281383
W_Valideren aanvraag 0 days 18:40:09.228862896
A_REGISTERED 0 days 16:10:59.567745959
A_APPROVED 0 days 15:00:13.220079862
O_ACCEPTED 0 days 13:58:37.092804743
A_ACTIVATED 0 days 10:37:04.191335731
O_CANCELLED 0 days 07:06:06.679006013
A_DECLINED 0 days 05:10:39.946601047
A_CANCELLED 0 days 00:01:54.501236994
W_Afhandelen leads 0 days 00:03:03.999699108
O_DECLINED -1 days +23:03:35.456204528
W_Nabellen incomplete dossiers 0 days 00:00:37.705275266
W_Beoordelen fraude 0 days 00:01:20.024146315

# Number of events and their number of repetitions

In [28]:
c=0
for j in list_of_events:
    for i in range(0,164508):
        if df_copy.iloc[i,1]==j:
            c=c+1
    print (j,c)

A_SUBMITTED 13087
A_PARTLYSUBMITTED 26174
A_PREACCEPTED 33541
W_Completeren aanvraag 57508
A_ACCEPTED 62621
O_SELECTED 69651
A_FINALIZED 74666
O_CREATED 81696
O_SENT 88726
W_Nabellen offertes 111703
O_SENT_BACK 115157
W_Valideren aanvraag 123054
A_REGISTERED 125300
A_APPROVED 127546
O_ACCEPTED 129789
A_ACTIVATED 132035
O_CANCELLED 135690
A_DECLINED 143324
A_CANCELLED 146131
W_Afhandelen leads 152029
O_DECLINED 152831
W_Nabellen incomplete dossiers 164238
W_Beoordelen fraude 164508

In [41]:
l=[]
c=0
a=df_copy.iloc[1,7]
for j in list_of_events:
    for i in range (1,164508):
        if df_copy.iloc[i,1]==j: 
            a=a+(df_copy.iloc[i+1]["startTime"]-df_copy.iloc[i]["startTime"])
            c=c+1
        x=(c/a)
        l.append(x)
print(l)

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [29]:

a=[["A_SUBMITTED", "0 days 00:00:00.581691655"],["A_PARTLYSUBMITTED", "0 days 01:01:20.356231880"],["A_PREACCEPTED", "0 days 02:04:54.228496869"],
["W_Completeren aanvraag","0 days 08:40:17.229487175"],["A_ACCEPTED","0 days 08:00:42.411919642"],["O_SELECTED","0 days 07:12:11.466512821"],
["A_FINALIZED","0 days 06:43:09.900357195"],['O_CREATED', '0 days 06:08:28.321527951'],["O_SENT", "0 days 10:40:10.900425471"],
["W_Nabellen offertes","0 days 18:40:50.682267246"],["O_SENT_BACK","0 days 19:40:24.803281383"],["W_Valideren aanvraag", "0 days 18:40:09.228862896"],
["A_REGISTERED","0 days 16:10:59.567745959"],["A_APPROVED","0 days 15:00:13.220079862"],["O_ACCEPTED","0 days 13:58:37.092804743"],
["A_ACTIVATED", "0 days 10:37:04.191335731"],["O_CANCELLED", "0 days 07:06:06.679006013"],["A_DECLINED","0 days 05:10:39.946601047"],
["A_CANCELLED", "0 days 00:01:54.501236994"],["W_Afhandelen leads", "0 days 00:03:03.999699108"],["O_DECLINED", "-1 days +23:03:35.456204528"],
["W_Nabellen incomplete dossiers", "0 days 00:00:37.705275266"],["W_Beoordelen fraude", "0 days 00:01:20.024146315"]]